body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
a {
    color:#0f0a0a;
    text-decoration: none;
}

a:hover {
    color: coral;
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 90%;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 4;
}

#title {
    display: flex;
}

#title-name {
    margin-top: 0;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    flex-direction: row;
}

.link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    display: flex;
}

#profile {
    height: 250px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
}

.home-text {
    font-size: 22px;
    color: #0f0a0a;
    font-weight: 300;
    /* flex-direction: column; */
}

.text {
    margin: auto;
    margin-left: 20px;
}

.content-title {
    font-size: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 4;
}

#contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 0;
}

#copyright {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

@media (max-width:768px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4;
    }
    
    #nav-bar {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
    }

    #profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        margin-left: 0px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    #footer-title {
        margin-top: 0;
    }

    .content-title {
        text-align: center;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #copyright {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}